.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    align-items: flex-start;
    /* min-height: calc(100vh - 140px); */
    padding-top: 30px;
    padding-bottom: 30px;
    flex-wrap: wrap;
    row-gap: 40px;
}